name: release

on:
  push:
    tags:
      - "v*.*.*"

permissions:
  contents: read
  actions: write

jobs:
  release-artifacts:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
      - uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4.4.0
        with:
          node-version: lts/*
      - run: npm ci
      - run: npm run build
      - id: pack
        run: |
          TARBALL="$(npm pack)"
          echo "tarball=${TARBALL}" >> "$GITHUB_OUTPUT"
      - uses: actions/upload-artifact@65462800fd760344b1a7b4382951275a0abb4808 # v4.3.3
        with:
          name: release-artifacts-${{ github.ref_name }}
          path: |
            ${{ steps.pack.outputs.tarball }}
            dist
            contracts
            docs/RELEASE.md
